@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.nav {
    @apply grid grid-cols-2 sticky top-0 bg-gray-900 p-5;
}

.navText {
    @apply text-2xl text-gray-100 self-center;
    @apply hover:text-blue-400;
}

.maincard {
    @apply bg-white p-10 rounded-b-xl -mt-5 mx-14;
}

.cardbox {
    @apply mx-auto p-5 shadow-md flex-col w-1/2 mt-6 rounded-md;
}

.bigtext {
    font-size: 20rem;
}

.gSize {
    grid-template-columns: auto 1fr;
}

.bg {
    @apply bg-gradient-to-b from-gray-900 to-blue-900;
    height: 100vh;
}

@keyframes slide-up {
    from {
        opacity: 0.25;
        line-height: 1.5;
    }
    to {
        opacity: 1;
        line-height: 1;
    }
}

.slide-up {
    animation: slide-up 1s;
}
